*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color:#f1f5f0;
}
nav,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p {width: 100%; z-index: 999;}


